<div id="head">WORLD@SOUTH | Official Website</div>
<div id="foto"><img src="../images/Dirkie.jpg" alt="Dirkie foto" /></div>
<div id="foto2"><img src="../images/6331.jpg" alt="Dirkie foto" /></div>
<div id="foto3"><img src="../images/IMG_6282e1.jpg" alt="Dirkie foto" /></div>
<div id="links">

<%= link_to "The Duo", theduo_path %>
<%= link_to "Music", music_path %>
<%= link_to "Shows", shows_path %>
<%= link_to "Gallery", gallery_path %>
<%= link_to "Videos", videos_path %>
<%= link_to "Press", press_path %>
<%= link_to "Shop", shop_path %>
<%= link_to "Contact", contact_path %>
</div>